<div ng-controller="listCities">
  <!-- <p class="description">This is where you can find your friends. Click on a city to get some more details.</p> -->
  <table border = "0" cellspacing="0" class="cityList" >
    <tr>
      <th class="cityHeader">Places to Go</th>
      <th class="friendHeader">People to See</th>
    </tr>
    <tr ng-repeat="city in locData | orderBy:'friends':true">
      <td class="city" ><a ng-click="setDest(city.airportCode)">{{city.name}}</a></td>
      <td class="friendNumber"> {{ city.friends }} </td>
    </tr>
  </table>
</div>

