<div class="cityDetails" ng-controller="showCity">
  <h2>If you were to leave next week . . . </h2>
  
  <div class = "left">
  Origin:  {{origin}}<br>
  Fly From:  {{destinationData.OrigAirportCode}}<br>
  <br>
  Destination:  {{destination}}<br>
  Destination Airport Code:  {{destinationData.DestinationAirportCode}}<br>

  Average Ticket Price:  {{destinationData.AveragePrice | currency}}<br>
  </div>

  <div class="right">
  The Weather Next Week:<br>
  Average Daily High:  {{destinationData.AverageMaxTemp}}<br>
  Average Daily Low:  {{destinationData.AverageMinTemp}}<br>
  </div>

  <div class="clear">
    <a href='{{destinationData.Url}}'>More details on Hotwire</a>
  </div>
  

</div>

