<div ng-controller="start">

  <div class="startText">
    <p>Fly to friends is a travel app that thinks of travel in terms of people instead of places.</p> 
    
    <p>Look at where your friends are and see travel details side by side. </p>

    <br>

    <a href="#/cityList"><button class="getStarted">  Get Started </button></a>


    <!--
    Below we include the Login Button social plugin. This button uses the JavaScript SDK to
    present a graphical Login button that triggers the FB.login() function when clicked. 
    -->
    <br>


  </div>
</div>

