
html, body {
  height: 100%;
  padding:0;
  margin:0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 155px; /* '.push' must be the same height as 'footer' */
}

footer {
  border-top: 4px solid white;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-image:url('../grey_wash_wall.png');
  color:white;
}

header {
  font-size: 60px;
  color: white;
  border-bottom: 4px solid white;
  height:10%;
}

a {
  text-decoration:none;
  color:white;
}

a:link {
  text-decoration:none;
  color:white;
}

a:visited {
  text-decoration:none;
  color:white;

}

a:hover {
  text-decoration:none;
  color:white;
  font-weight:bolder;
}

a:active {
  text-decoration:none;
  color:white;
}

button {
  font-size: 1.5em;
  border-radius: 20px;
  padding:5px;
}


th {
  font-weight: bolder;
  font-size: 1.3em;
  /*text-decoration:underline;*/
  border-bottom: 4px solid white;
}

.cityHeader {
  text-align: left;
  width: 500px;
}

.friendHeader {
  width: 300px;
}

.cityList {
  margin: auto;
  border:none;
  font-size: 1em;
}

.friendNumber {
  text-align: center;
  font-size: 1em;
}


.fbLogin {
  padding:20px;
  /*background-color: gray;*/
  /*border:2px solid white;*/
  float:right;
  font-weight:bold;
  font-size: 1em;
}


.main {
  color:white;
  height:90%;
  font-size:2em;
}

.startText {
  width:70%;
  margin:auto;
}
